html {
    background-color: #000000;
    color: white;
}

span {
    padding-right: 2px;
    border-right: black solid 2px;
    margin-left: 20px;
    margin-right: 20px;
}
.row{
    display: flex;
    flex-direction: column;
}
.row2{
    display: flex;
}
.row2 > input{
    width: 7vw;
    font-size: large;
}
.row2 > label{
    width: 7vw;
}